################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FrameForm.AutoImplement/FrameForm.AutoImplement.Test/bin/Debug
/src/FrameForm.AutoImplement.Test/obj/Debug
/src/FrameForm.AutoImplement/FrameForm.AutoImplement.Test/obj/Debug
/src/FrameForm.AutoImplement/obj/Debug
/src/FrameForm.AutoImplement/FrameForm.AutoImplement/.vs/FrameForm.AutoImplement/v14
/src/FrameForm.AutoImplement/.vs/FrameForm.AutoImplement/v14
/src/FrameForm.AutoImplement/FrameForm.AutoImplement/obj/Debug
/src/FrameForm.AutoImplement/FrameForm.AutoImplement/bin/Debug
/src/FrameForm.AutoImplement/packages