################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AutoFrame.AutoImplement/AutoFrame.AutoImplement.Test/bin/Debug
/src/AutoFrame.AutoImplement.Test/obj/Debug
/src/AutoFrame.AutoImplement/AutoFrame.AutoImplement.Test/obj/Debug
/src/AutoFrame.AutoImplement/obj/Debug
/src/AutoFrame.AutoImplement/AutoFrame.AutoImplement/.vs/AutoFrame.AutoImplement/v14
/src/AutoFrame.AutoImplement/.vs/AutoFrame.AutoImplement/v14
/src/AutoFrame.AutoImplement/AutoFrame.AutoImplement/obj/Debug
/src/AutoFrame.AutoImplement/AutoFrame.AutoImplement/bin/Debug
/src/AutoFrame.AutoImplement/packages
/**/nppBackup